<div class="col-1">
  <app-navsty></app-navsty>
</div>
<!-- Header -->
<header class="animals-background">
  <div class="container">
    <div class="row align-items-center mlr">
      <div class="col-md-5 p-5 mb-5 mt-5">
        <h1>¡Bienvenido a {{ organizacionData?.nombre_organizacion }}!</h1>
        <p class="weight">Cada mascota merece un hogar lleno de amor y cuidado. En lugar de comprar, considera
          la
          adopción. Miles de amigos peludos esperan ansiosamente en refugios y organizaciones de rescate,
          listos
          para
          ser parte de tu familia.</p>
        <p class="weight">Elige adoptar y marca la diferencia en dos vidas. ¡Haz clic abajo para empezar!
          Únete a la comunidad de adoptantes y rescata a un amigo peludo hoy mismo. Cada adopción es un paso
          hacia un mundo mejor, lleno de amor y compañerismo. ¡Haz la diferencia y adopta con nosotros!</p>
        <h1>Estas en la sucursal: {{ sucursalData?.nombre_sucursal }}</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <section>
    <!-- Contenido principal -->
    <div class="container-fluid mlr">
      <div class="row align-items-center mt-5">
        <div class="col-md-3">
          <img src="../../assets/images/home/gif-cora.gif" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h1>¡Adoptar es...</h1>
          <p>Adoptar no solo cambia la vida de la mascota que llevas a casa, sino que también transforma la
            tuya. A
            través de la adopción, no solo le das una segunda oportunidad a un animal necesitado, sino que
            también
            experimentas el amor y la gratitud que solo un amigo peludo puede ofrecer. Cada día con tu
            mascota
            estará lleno de momentos especiales y recuerdos inolvidables.
          </p>
        </div>
        <div class="col-md-3">
          <img src="../../assets/images/home/git-conejo.gif" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row align-items-center background-alt">
        <div class="col-md-3">
          <img src="../../assets/images/home/gif-cora.gif" alt="" class="img-fluid">
        </div>
        <div class="col-md-3">
          <img src="../../assets/images/home/gif-perro.gif" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 mt-4 mb-3">
          <h1>Amar Doblemente!</h1>
          <p>
            Experimenta la gratitud y la alegría incondicional que solo un amigo peludo te puede entregar.
            Juntos,
            podemos hacer del mundo un lugar mejor para ellos. Adoptar no solo es un acto de amor, sino
            también de
            responsabilidad y compromiso. Cada mascota adoptada es una vida salvada y un hogar transformado.
          </p>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-md-3 mt-3">
          <img src="../../assets/images/home/gif-idea.gif" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 mt-3">
          <h1>¿De dónde nace la idea?</h1>
          <p>
            Nuestra aplicación de adopción de mascotas surge de la necesidad de crear un espacio exclusivo
            para la
            adopción. Inspirados por el amor hacia los animales, estudiantes se unieron para conectar
            adoptantes con
            organizaciones de rescate. Buscamos facilitar la adopción responsable, ofreciendo una
            experiencia
            intuitiva y
            segura.</p>
        </div>
        <div class="col-md-3">
          <img src="../../assets/images/home/gif-like.gif" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
</div>