.mlr {
    margin-left: 50px;
    margin-right: 50px;
}
/* header */
.animals-background {
    background-image: url('../../assets/images/home/background-cat.svg');
    background-position: center center;
    background-size: cover;
}

/* Body */
.img-fluid {
    max-width: 80%;
    border-radius: 10px;
    box-shadow: black;
}

.background-alt {
    background: linear-gradient(to left, #95b0e5 95%, #b0e0e6 5%,);
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px;

}

.background-border {
    background: none;
    border: 1px solid #1a2533;
    /* Cambiado para asegurarse de que el borde sea visible */
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 50px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
    position: sticky !important;
}

p {
    font-size: 20px;
    text-align: justify;

}

.col-1 {
    padding: 0px 0px !important;
}

.test {
    margin-top: 50px !important;
}

.btn-success {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #1a2533 !important;
    border: none;
}

.weight {
    font-weight: 600;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .img-fluid {
        width: 60%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-size: 15px !important;
        padding: 15px;
    }

    h1 {
        padding: 15px;
    }

    .button-container {
        text-align: center; /* Centra el contenido dentro del contenedor */
    }

    .btn-success {
        display: inline-block; /* Permite centrar el botón dentro del contenedor centrado */
        font-size: 15px;
    }

    .weight {
        font-weight: 7 00;
    }
    
}
